# Node modules
node_modules/

# Environment files
.env

# Logs
logs/
*.log

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# IDE directories
.vscode/
.idea/
